body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  animation: slideshow 12s infinite;
}

.slide {
  width: 800px;
  height: 300px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}
